.main-layout {
  display: flex;
  flex-direction: row;
}

.main-content {
  min-height: 100vh;
  padding: 2rem 1rem;
  font-family: monospace;
  background-color: transparent; /* ✅ or just remove the line entirely */

  /* Show in the center */
  display: flex;
  flex-direction: column;
}